<h1>Add a new item to @Model.Name</h1>

<form action="/items" method="post">
  <input id="animalId" name="animalId" type="hidden" value="@Model.Id">
  <label for="animalName">Name</label>
  <input id="animalType" name="animalType" type="text">
  <label for="animalType">Type</label>
  <input id="animalGender" name="animalGender" type="text">
  <label for="animalGender">Gender</label>
  <input id="animalBreed" name="animalBreed" type="text">
  <label for="animalBreed">Breed</label> 
  <input id="animalDateAdmitted" name="animalDateAdmitted" type="text">
  <label for="animalDateAdmitted">Date Admitted</label>
  <button type='submit'>Add Animal</button>
</form>