<h1>Animal Shelter</h1>
<h2>Animals available for adoption:</h2>

<h2>@Model["animal"].Name</h2>


<a href='@Model["animal"].Id/animals/new'>Add another animal</a>
<a href='/animals'>View all animals</a>